/* 접근성 처리 (스크린 리더) */
.screen_out {
    display: none !important;
}

/* 에러 메세지 */
.error {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}

.error_message {
    color: #E7263B;
    font-size: 12px;
    margin-top: 4px;
}

.input_wrap .input_error {
    border: 1px solid #E7263B;
}

.input_wrap .input_error:focus {
    border: 1px solid #E7263B;
}

/* 인증 번호 */
/* 기본적으로 숨김 */
.auth_wrapper {
    display: none;
}

/* 토글되면 보이도록 설정 */
.auth_wrapper.request {
    display: block;
}

