.content {
    margin: 0 20rem;
    /*padding-top: 70px;*/
}

/* 자기 소개 */
.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about .profile_img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about .profile_img .info {
    width: 200px;
}

/* 기술 스택 */
.skills .skill_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill_list .skill_item > svg {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.skills, .projects, .experience {
    text-align: center;
}